extends ./layout.jade

block title
  title _ARCHITEKT
block content
    div(id='largePhotoGallery')

      div(id='large' style="background-image: url('http://payload.cargocollective.com/1/0/128/1388457/02-ottoman-architecture_2.jpg')")
    div(class='spacerGallery')
    div(id='mixedPhotosGallery')
      each photo in photos
        a(href='/gallery/#{photo.id}')
          div(class='smallPhotosGallery' id='photoNumber' + '#{photo.id})' style='background-image: url(#{photo.link})')
          p #{photo.description}
          p #{photo.author}
  div(class='spacerGallery')