extends ./layout.jade

block title
  title ::Architekt::
block content
    div(id='largePhotoGallery')
      if staticPhoto
        a(href='/gallery/#{staticPhoto.id}')
          div(id='large' style="background-image: url('#{staticPhoto.link}')")
      else
        h1 Sorry, no photos available! You should upload some!
    if staticPhoto
      div(class='spacerGallery')
    div(id='mixedPhotosGallery')
      each photo in photos
        a(href='/gallery/#{photo.id}')
          div(class='smallPhotosGallery' id='photoNumber' + '#{photo.id}' style='background-image: url(#{photo.link})')
          p #{photo.description}
          p #{photo.author}
    if staticPhoto
      div(class='spacerGallery')