extends ./layout.jade

block title
  title _ARCHITEKT
block content
    div(id='largePhotoGallery')
      a(href='/gallery/#{staticPhoto.id}')
        div(id='large' style="background-image: url('#{staticPhoto.link}')")
    div(class='spacerGallery')
    div(id='mixedPhotosGallery')
      each photo in photos
        a(href='/gallery/#{photo.id}')
          div(class='smallPhotosGallery' id='photoNumber' + '#{photo.id})' style='background-image: url(#{photo.link})')
          p #{photo.description}
          p #{photo.author}
    div(class='spacerGallery')