extends ./layout.jade

block title
  title ::Architekt:: #{photo.description}
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")


block content
  div(id="container")
    div(id="single")
      div(id="image" style="background-image: url('#{photo.link}')")
        div(id='blurDiv' class='displayNone')
          i(class="fa fa-times fa-2x" aria-hidden="true" id='cancelButton')
          form(method='POST' action='/gallery/#{photo.id}?_method=PUT')
            input(id='linkInput' name="link" placeholder='Image Link' required)
            input(id='authorInput' name="author" placeholder='Author' required)
            input(id='descInput' name="description" placeholder='Description' required)
            button(id='submitButton') Submit


      div(id="description") #{photo.description}
      if user
        if user.id == photo.user_id
          div(id="buttonsED")
            div(class='buttonE')
              a(href="/gallery/#{photo.id}#image"  id="editButton")
                button Edit
            div(id='buttonD')
              form(method="POST" action="/gallery/#{photo.id}/?_method=DELETE" enctype="application/x-www-form-urlencoded")
                button(id='deleteButton') Delete

    div(id="multiple")
      each photograph in photos
        div(class="sideContainer")
          a(class="sideImageLink" href="/gallery/#{photograph.id}" style="background-image: url('#{photograph.link}')")
          div(class="sideInfo") #{photograph.description}

  if user
    script(type="text/javascript" src="/js/buttonEvents.js")