extends ./layout.jade

block title
  title _ARCHITEKT: #{photo.desription}

block content
  div(id="container")
    div(id="single")
      div(id="image" style="background-image: url('#{photo.link}')")
      div(id="description") #{photo.description}
      div(id="buttons")
        a(id="editButton" href="/gallery/#{photo.id}")
          button(class="button") Edit
    div(id="multiple")
      each photograph in photos
        div(class="sideContainer")
          a(class="sideImageLink" href="/gallery/#{photograph.id}" style="background-image: url('#{photograph.link}')")
          div(class="sideInfo") #{photograph.description}


  script(type="text/javascript" src="/js/buttonEvents.js")