doctype html

block title
  title Image
  style
    include ../public/css/styles.css

block content
  div(id="container")
    div(id='photoBlur')
      div(id="photoForm")
      input(placeholder='Enter new image link' name ='link')
      button Submit
    div(id="imageContainer")
      img(id="photo" src="#{photo.link}")
      div(id="buttons")
        a(id="editButton" href="/gallery/#{photo.id}")
          button Edit
        a(id="deleteButton" href="/gallery/#{photo.id}")
          button Delete
    p #{photo.author}
    p #{photo.description}
  script(type="text/javascript" src="/js/buttonEvents.js")