extends ./layout.jade

block title
  title _ARCHITEKT: #{photo.description}

block content
  div(id="container")
    div(id="single")
      div(id="image" style="background-image: url('#{photo.link}')")
      div(id="description") #{photo.description}
        if user
          if user.id == photo.user_id
            div(id='buttons')
              button(class="button" id='editButton') Edit
              button( href='gallery/#{photo.id}' class="button" id='deleteButton') Delete
    div(id="multiple")
      each photograph in photos
        div(class="sideContainer")
          a(class="sideImageLink" href="/gallery/#{photograph.id}" style="background-image: url('#{photograph.link}')")
          div(class="sideInfo") #{photograph.description}


  script(type="text/javascript" src="/js/buttonEvents.js")